body {
 margin: 0;
 padding: 0;
 color: white;
 overflow-y: auto;
}

.main {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 overflow: hidden;
}

.bio {
 list-style: none;
 position: relative;
 width: 100vw;
 height: 100vh;

}

.item {
    left: -2.5em;
    width: 100vw;
    height: 100vh;
    position: relative;
    min-height: 100vh;
    background: url('../../../images/Тодо Аой 2.jpeg') center/cover no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: auto;
}

.overlay {
    position: absolute;
    top: 97.4%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
}



.title {
 font-size: 3rem;
 text-transform: uppercase;
 margin-bottom: 10px;
}

.description {
 font-size: 16px;
}



body::-webkit-scrollbar {
 width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #333;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

.toggle-button {
  position: fixed;
  bottom: 0;
  right: 1%;
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.toggle-button:hover {
  color: #000000;
  background-color: #ffffff;
}

#backButton {
  position: fixed;
  bottom: 5%;
  right: 1%;
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

#backButton:hover {
  color: #000000;
  background-color: #ffffff;
}
