@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    text-align: center;
    color: #ffffff;
}

body {
    background-image: url('../images/background1.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0px;
    background-attachment: fixed;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 80%;
}

.img-container {
    position: relative;
    overflow: hidden;
    width: 5%;
    height: 100%;
    transition: width 0.5s ease;
}

img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.img-container:hover {
    width: 40%;
    border-radius: 20px;
    transform: translateZ(0);
}

.img-container:hover::before {
    content: attr(data-name);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

@media (max-width: 650px) {
    h1 {
        color: #ffffff;
        text-align: left;
        margin-left: 18%;
    }

    .images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: left;
        align-items: left;
        grid-column-gap: -40px;
        gap: 0px;
        width: 80%;
        height: auto;
        margin-left: 10px;
        margin-top: -20px;
    }

    .img-container {
        left: 20%;
        position: relative;
        overflow: hidden;
        width: 80%;
        height: auto;
        transition: none;
    }

    img {
        border-radius: 10px;
        height: auto;
        object-fit: cover;
        width: 80%;
    }
    .img-container::after {
        border-radius: 10px;

        content: attr(data-name);
        position: absolute;
        bottom: 0.3rem;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        width: 80%;
        box-sizing: border-box;
    }

    .img-container {
        width: 120%;
        border-radius: none; 
        transform: none;
    }


    .img-container:hover {
        width: 120%;
        border-radius: none; 
        transform: none;
    }

    .img-container:hover::before {
        content: none; 
        position: static;
        bottom: none;
        left: none;
        transform: none;
        color: none;
        font-weight: none;
        text-shadow: none;
        z-index: none;
    }
}
