* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1), &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) { left: 100%; }
  &:nth-child(4) { left: calc(100% + 220px); }
  &:nth-child(5) { left: calc(100% + 440px); }
  &:nth-child(6) { left: calc(100% + 660px); opacity: 0; }
}


.content {
  width: min(30vw,400px);
  position: absolute;
  top: 50%;
  left: 13rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica,sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0,0,0,0.5);
  opacity: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;

  & .title {
    font-family: 'arial-black';
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;

  }

  & button {
    display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
 }

 & button:hover {
  color: #000000;
  background-color: #ffffff;
 }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.7);
    border: 2px solid rgba(0,0,0,0.6);
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.3);
    }
  }

  #backButton {
  position: fixed;
  bottom: 5%;
  right: -700%;
  display: inline-block;
  padding: 0.6em 1.7em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

#backButton:hover {
  color: #000000;
  background-color: #ffffff;
}
}

@media (min-width: 651px) and (max-width: 1500px) {
  html {
    overflow: hidden;
  }
  .content {
    left: 7%;
    & .title        { font-size: 1rem; }
    & .description  { font-size: 0.7rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) { left: 100%; }
    &:nth-child(4) { left: calc(100% + 170px); }
    &:nth-child(5) { left: calc(100% + 340px); }
    &:nth-child(6) { left: calc(100% + 510px); opacity: 0; }
  }

}

@media (max-width: 650px) {
  html {
    overflow: hidden;
  }
  .content {
    left: 7%;
    & .title        { font-size: 0.9rem; }
    & .description  { font-size: 0.65rem; }
    & button        { font-size: 0.7rem; }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) { left: 100%; }
    &:nth-child(4) { left: calc(100% + 140px); }
    &:nth-child(5) { left: calc(100% + 280px); }
    &:nth-child(6) { left: calc(100% + 420px); opacity: 0; }
  }
}


.hidden {
    display: none;
}

.dots-container {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 0 5px;
  transition: background-color 0.3s ease
}

.dot.active {
  background-color: #000000;
  transform: scale(1.5);
}
