@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
@import url(/css/material-design-iconic-font.min.css);
}

body {
    margin: 0;
    padding: 0;
}

.list-group {
    width: 250px;
    margin: 20px;
}

.list-group ul {

    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.list-group-item:hover {
      background-color: rgba(0, 0, 0, 0.6);

}

.list-group-item i {
    margin-right: 10px;
    font-size: 25px;
}

.main-menu:hover,nav.main-menu.expanded {
  width:200px;
  overflow:visible;
}

.main-menu {
  background: rgba(33, 33, 33, 0.8);
  position:absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width:60px;
  overflow:hidden;
  -webkit-transition:width .05s linear;
  transition:width 0.2s linear;
  -webkit-transform:translateZ(0) scale(1,1);
  z-index:1000;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
}

.main-menu>ul {
  margin:7px 0;
}

.main-menu li {
  position:relative;
  display:block;
  width:200px;

}

.main-menu li>a {
  position:relative;
  display:flex;
  align-items: center;
  border-collapse:collapse;
  border-spacing:0;
  color:#ffffff;
  font-family: arial;
  font-size: 15px;
  text-decoration:none;
  -webkit-transform:translateZ(0) scale(1,1);
  -webkit-transition:all .1s linear;
  transition:all .1s linear;
  overflow: hidden;
}

.main-menu .nav-text {
  position: relative;
  display:table-cell;
  vertical-align:middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
  left: 30px;
}

.main-menu .nav-icon {
  position:relative;
  display:table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

